<div class="container">
    <h1>Listado de hospitales</h1>

    <table class="table table-bordered" width="100%" [cellSpacing]="0">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor=" let h of ResHospital">
                <td scope="row">{{h.id}}</td>
                <td scope="row">{{h.nombre}}</td>
                <td scope="row">{{h.direccion}}</td>
                <td scope="row">{{h.telefono}}</td>
                <th><button type="button" class="btn btn-success" [routerLink]="['/detallesHospital',h.id]"> <i class="fa-solid fa-circle-info"></i> Detalle</button></th>
                <th><button type="button" class="btn btn-primary" [routerLink]="['/edicionHospital', h.id]"><i class="fa-solid fa-pen-to-square"></i> Editar</button></th>
                <th><button type="button" class="btn btn-danger btn-xs" (click)="eliminar(h.id)"><i class="fa-solid fa-trash"></i> Eliminar</button></th>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-info" [routerLink]="['/altaHospital']"><i class="fa-solid fa-plus"></i> Agregar Hospital</button>
            </div>
        </div>
    </div>
    <br>
</div>

