
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Detalles Medico</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Nombre: </b><span>{{datosMedico.name}}</span></li>
                    <li class="list-group-item"><b>Apellido: </b><span>{{datosMedico.apellido}}</span></li>
                    <li class="list-group-item"><b>Celular: </b><span>{{datosMedico.celular}}</span></li>
                    <li class="list-group-item"><b>Especialidad: </b><span>{{datosMedico.especialidad}}</span></li>
                    <li class="list-group-item"><b>Status: </b><span>{{datosMedico.status}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<br>