<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Detalles Paciente</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Nombre: </b><span>{{datosPaciente.nombre}}</span></li>
                    <li class="list-group-item"><b>Apellido: </b><span>{{datosPaciente.apellido}}</span></li>
                    <li class="list-group-item"><b>Fecha Nacimiento: </b><span>{{datosPaciente.fecNac | date: 'dd/MM/YYYY'}}</span></li>
                    <li class="list-group-item"><b>Genero: </b><span>{{datosPaciente.genero}}</span></li>
                    <li class="list-group-item"><b>Direccion: </b><span>{{datosPaciente.direccion}}</span></li>
                    <li class="list-group-item"><b>Celular: </b><span>{{datosPaciente.celular}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<br>
