
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Edicion Pacientes</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Nombre Paciente</label>
                <input type="text" class="form-control" #caja1 [value]="datosPaciente.nombre">
            </div>
            <br>
            <div class="form-group">
                <label for="">Apellido</label>
                <input type="text" class="form-control" #caja2 [value]="datosPaciente.apellido">
            </div>
            <br>
            <div class="form-group">
                <label for="">Fecha Nacimiento</label>
                <input type="text" class="form-control" #caja3 [value]="datosPaciente.fecNac | date: 'dd-MM-YYYY'">
            </div>
            <br>
            <div class="form-group">
                <label for="">Genero</label>
                <input type="text" class="form-control" #caja4 [value]="datosPaciente.genero">
            </div>
            <br>
            <div class="form-group">
                <label for="">Direccion</label>
                <input type="text" class="form-control" #caja5 [value]="datosPaciente.direccion">
            </div>
            <br>
            <div class="form-group">
                <label for="">Celular</label>
                <input type="text" class="form-control" #caja6 [value]="datosPaciente.celular">
            </div>
            <br>
            <div class="from-group">
                <button class="btn btn-success" (click)="GuardarDatos()">Guardar</button>
            </div>
        </div>
    </div>
</div>