<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Detalles Historial Medico</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Fecha: </b><span>{{datosHistorial.fecha}}</span></li>
                    <li class="list-group-item"><b>Diagnostico: </b><span>{{datosHistorial.diagnostico}}</span></li>
                    <li class="list-group-item"><b>Tratamiento: </b><span>{{datosHistorial.tratamiento}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<br>
