
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Alta De Paciente</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" #caja1>
            </div>
            <br>

            <div class="form-group">
                <label for="">Apellido</label>
                <input type="text" class="form-control" #caja2>
            </div>
            <br>

            <div class="form-group">
                <label for="">Fecha Nacimiento</label>
                <input type="text" class="form-control" #caja3>
            </div>
            <br>

            <div class="form-group">
                <label for="">Genero</label>
                <input type="text" class="form-control" #caja4>
            </div>
            <br>

            <div class="form-group">
                <label for="">Direccion</label>
                <input type="text" class="form-control" #caja5>
            </div>
            <br>

            <div class="form-group">
                <label for="">Celular</label>
                <input type="text" class="form-control" #caja6>
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-success" (click)="GuardarDatos()">Guardar</button>
            </div>
            <br>
        </div>
    </div>
</div>
