<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Detalles Hospital</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Nombre: </b><span>{{datosHospital.nombre}}</span></li>
                    <li class="list-group-item"><b>Direccion: </b><span>{{datosHospital.direccion}}</span></li>
                    <li class="list-group-item"><b>Telefono: </b><span>{{datosHospital.telefono}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<br>
