<div class="container">
    <h1>Listado de Paciente</h1>

    <table class="table table-bordered" width="100%" [cellSpacing]="0">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Genero</th>
            <th scope="col">Direccion</th>
            <th scope="col">Celular</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor=" let p of ResPaciente">
                <td scope="row">{{p.id}}</td>
                <td scope="row">{{p.nombre}}</td>
                <td scope="row">{{p.apellido}}</td>
                <td scope="row">{{p.fecNac | date: 'dd/MM/YYYY'}}</td>
                <td scope="row">{{p.genero}}</td>
                <td scope="row">{{p.direccion}}</td>
                <td scope="row">{{p.celular}}</td>
                <th><button type="button" class="btn btn-success" [routerLink]="['/detallePaciente',p.id]"><i class="fa-solid fa-circle-info"></i> Detalle</button></th>
                <th><button type="button" class="btn btn-primary" [routerLink]="['/edicionPaciente', p.id]"><i class="fa-solid fa-pen-to-square"></i> Editar</button></th>
                <th><button type="button" class="btn btn-danger btn-xs" (click)="eliminar(p.id)"><i class="fa-solid fa-trash"></i> Eliminar</button></th>
                <th><button type="button" class="btn btn-light"[routerLink]="['/detalleCita', p.id]">Ver Citas</button></th>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-info" [routerLink]="['/altaPaciente']"><i class="fa-solid fa-plus"></i>Agregar Paciente</button>
            </div>
        </div>
    </div>
    <br>
</div>